---
import { Icon } from 'astro-icon/components'

import Layout from '~/layouts/base.astro'
---

<Layout class="items-center justify-center gap-4 text-white bg-red" title="404">
  <Icon name="logo-white" class="w-24 h-24" />

  <h1 class="text-lg font-sans-serif">Not Found
    <code class="p-1 m-1 rounded-sm bg-brown/20">404</code>
  </h1>
</Layout>
