---
const items = [
  { title: 'programme', href: '/programme' },
  { title: 'partners', href: '/partners' },
  { title: 'venue', href: '/venue' },
  { title: 'about', href: '/about' },
]
---

<menu class="flex justify-center gap-2 my-2">
  {items.map(({ title, href }) => (
    <a class="flex p-2 font-mono transition hover:bg-subtle-highlight hover:drop-shadow focus:outline-none focus:ring focus:ring-subtle-highlight/40" {href}>{title}</a>
  ))}
</menu>
