---
import Layout from '~/layouts/base.astro'

import Container from '~/components/Container.astro'

interface Props {
  edition?: string
  title?: string
}

const {
  edition,
  title,
} = Astro.props
---

<Layout class="bg-subtle-highlight" {edition} {title}>
  <nav class="my-4 text-center">
    <slot name="previous" />
  </nav>

  <Container class="flex-1">
    <slot />
  </Container>

  <nav class="my-4 text-center">
    <slot name="previous" />
  </nav>
</Layout>
